{% extends 'base.html.twig' %}
{% trans_default_domain 'edit' %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">{{ 'homepage'|trans({}, 'breadcrumb') }}</a></li>
        <li><a href="{{ path('parameters') }}">{{ 'parameters.main'|trans({}, 'breadcrumb') }}</a></li>
        <li><a href="{{ path('parameters_payment_types') }}">{{ 'parameters.payment_type.list'|trans({}, 'breadcrumb') }}</a></li>
        <li class="active">{{ 'parameters.payment_type.edit'|trans({}, 'breadcrumb') }}</li>
    </ol>

    <h1>{{ 'payment_type.edit'|trans }}</h1>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6 col-xs-12">
            {{ form_row(form.slug) }}
        </div>
        <div class="col-md-6 col-xs-12">
            {{ form_row(form.name) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            {{ form_row(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}