{% trans_default_domain 'show' %}
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="label label-info">{{ 'contributor.lastname'|trans }}</div>
        <div class="value">{{ contributor.lastname }}</div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="label label-info">{{ 'contributor.firstname'|trans }}</div>
        <div class="value">{{ contributor.firstname }}</div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="label label-info">{{ 'contributor.company'|trans }}</div>
        <div class="value">{{ contributor.company }}</div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="label label-info">{{ 'contributor.email'|trans }}</div>
        <div class="value">{{ contributor.email }}</div>
    </div>
</div>