{% extends 'base.html.twig' %}
{% trans_default_domain 'show' %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">{{ 'homepage'|trans({}, 'breadcrumb') }}</a></li>
        <li><a href="{{ path('contributors') }}">{{ 'contributor.list'|trans({}, 'breadcrumb') }}</a></li>
        <li class="active">{{ 'contributor.show'|trans({}, 'breadcrumb') }}</li>
    </ol>

    <h1>{{ 'contributor.title'|trans({'%name%': contributor}) }}</h1>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist" id="tab-contributor">
                <li role="presentation" class="active">
                    <a href="#contributor" aria-controls="contributor" role="tab" data-toggle="tab">
                        <i class="icon-user"></i>
                        {{ 'tab.contributor'|trans }}
                    </a>
                </li>
                <li role="presentation">
                    <a href="#donation" aria-controls="donation" role="tab" data-toggle="tab">
                        <i class="icon-money"></i>
                        {{ 'tab.donation'|trans }}
                        <span class="badge">{{ contributor.donations.count }}</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#receipt" aria-controls="receipt" role="tab" data-toggle="tab">
                        <i class="icon-file-pdf"></i>
                        {{ 'tab.receipt'|trans }}
                        <span class="badge">{{ contributor.receipts.count }}</span>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="contributor">
                    {% include "contributors/_pane-contributor.html.twig" %}
                </div>
                <div role="tabpanel" class="tab-pane fade" id="donation">
                    {% include "contributors/_pane-donations.html.twig" %}
                </div>
                <div role="tabpanel" class="tab-pane fade" id="receipt">
                    {% include "contributors/_pane-receipts.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
    $(document).on('ready', function () {
        $('#tab-contributor a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });
    </script>
{% endblock %}
