{% trans_default_domain 'header' %}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">Gesdon</a>
        </div>

        <div class="collapse navbar-collapse" id="nav-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ 'donations'|trans }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('donations') }}">{{ 'list'|trans }}</a></li>
                        <li><a href="{{ path('donations_add') }}">{{ 'add'|trans }}</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{ path('contributors') }}">
                        {{ 'contributors'|trans }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>